.wrapper {
    margin-top: 65px;
    margin-left: 20px;
}
.logo {
    display: flex;
    height: 54px;
    justify-content: center;
    align-items: center;
}
.img {
    height: 48px;
    width: 48px;
}
.text {
    font-weight: bold;
    font-size: 22px;
    margin-left: 18px;
}
.span {
    color: var(--pink);
}